*, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebebeb;
    font-family: 'Fira Sans', sans-serif;
}

.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px; 
    height: 100vh;

    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
     
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #29698f;

    transition: .3s ease;
}

.main-menu:hover{
    width: 270px;  
    background-color: white
}

.main-menu .menu-item{
    padding: 10px;
    display: flex;
    align-items: center;
}

.main-menu .menu-item:hover{
    background-color: #abe1fa;
    cursor: pointer;
}

.main-menu .menu-item .fw-icon{
    font-size: 25px;
    width: 40px ;
    padding: 10px;
    padding-right: 27px;
}
.topnavbar{
    text-align: right;

}
