.container
    {
        max-width: 100% !important;
        margin: auto;
        margin-top: 4%;
        font-family: sans-serif;
        letter-spacing: 0.5px;
    }
    img
    {
        max-width: 100px;
    }
    .msg-header
    {
        border: 1px solid #ccc;
        width: 100%;
        height: 15%;
        border-bottom: none;
        display: inline-block;
        background-color: #ffc400;
    }
    .msg-header-img
    {
        border-radius: 50%;
        width: 40px;
        margin-left: 5%;
        margin-top: 12px;
        float: left;
    }
    .active
    {
        width: 120OX;
        float: left;
        margin-top: 10px;

    }
    .active h4 
    {
        font-size: 20px;
        margin-left: 20px;
        color: rgb(0, 0, 0);
    }
    .active h6
    {
        font-size: 10px;
        margin-left: 20px;
        line-height: 2px;
        color: rgb(0, 0, 0);
    }
    .header
    {
        font-size: 10px;
        float: right;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        margin-right: 50px;
        border: 4px solid rgb(0, 0, 0);
        
    }
    .container
    {   
        width: 500 !important;
        height: 500;
       
    }
   