/*
Tasks:
-- create responsive breadcrumb with scroller
-- create responsive breadcrumb with the first and last item and a button that shows all options

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.bg-home{
  background-image: url('../img/bg-home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.company-intro{
  text-align: justify;
}

.shop-details-bg{
  background-color: rgba(248, 249, 250, 0.85);
}

.slide-downward{
  animation: 1s ease-out 0s 1 slideDownward;
}

.slide-inward{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide-upward{
  animation: 1s ease-out 0s 1 slideUpdward;
}

.slide-outward{
  animation: 1s ease-out 0s 1 slideOutToLeft;
}

.product-title{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.vl {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.shop-logo{
  width: 200px;
}

.product-name{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 11pt;
}

.auctioner{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  text-decoration: none;
  color: #212529;
}

.auctioner:hover{
  text-decoration: none;
  color: #0d6efd;
}

.bid-duration{
  font-family: 'Poppins', sans-serif;
}

.bid-status{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.bid-price{
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
}

.product-img{
  height: 150px;
}

.p-to-br{
  right: 0;
  bottom: 0;
}

.p-to-bl{
  left: 0;
  bottom: 0;
}

.p-to-tl{
  left: 0;
  top: 0;
}

.p-to-tr{
  right: 0;
  top: 0;
}

.other-nav-fs{
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

/***************************/
  @keyframes slideDownward {
    0% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slideUpdward {
    0% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes zoomOut {
    0% {
      transform: scale(1.5,1.5);
    }
    100% {
      transform: scale(1,1);
    }
  }

.remove-list-style-type{
  list-style-type: none;
  padding-left: 20px;
}

.img-resize
{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#badges
{
  font-size: 15pt;
}

.position-badge-topleft{
  top: 1rem;
  left: 2rem;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 56px;
  left: 0pc;
  z-index: 1000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}

/* Page content */
.content {
  padding: 30px;
}

.item-search{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.search-input-group{
  border-radius: 0.5rem;
}
/*********************************************/
/********Standard fonts used by all pages*****/

.fs-search{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-breadcrumb{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-sidenav{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.fs-shop-name{
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.fs-shop-description{
  font-family: 'Poppins', sans-serif;
  font-size: 9pt;
}

.fs-footer{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.fs-topnav{
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
}

.fs-header{
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.fs-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
}

.fs-alert{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

/* shop logo size */
.shop-logo-auction-size{
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.shop-info-bg{
  border-radius: 1rem;
  color: #673ab7;
}

.chat-button{
  background-color: #d1b4ff;
  border-radius: 0.5rem;
  right: 2rem;
  color: #673ab7;
}

.chat-button:hover{
  background-color: #673ab7;
  border-radius: 0.5rem;
  color: #ffffff;
}

/***********   pagination override class  **********/
@media screen and (max-width: 1920px) and (min-width: 1401px) {
  
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  
}

@media screen and (max-width: 1200px) and (min-width: 993px){

}

@media screen and  (max-width: 992px) and (min-width: 769px){
  .company-intro{
    font-size: 12pt;
  }
  .sm-intro-bg{
    padding: 0em 3em 3em 3em;
  }
  .product-name{
    font-size: 11pt;
  }
  .auctioner{
    font-size: 10pt;
  }
  .bid-status{
    font-size: 10pt;
  }
  .bid-price{
    font-size: 11pt;
  }
}

@media screen and  (max-width: 768px) and (min-width: 577px){
  .company-intro{
    font-size: 11pt;
  }
  .sm-intro-bg{
    padding: 0em 2em 2em 2em;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .bid-price{
    font-size: 10pt;
  }
}

@media screen and (max-width: 576px){
  .shop-detail{
    font-size: 8pt;
  }
  .fs-header{
    font-size: 11pt;
  }
  .fs-breadcrumb{
    font-family: 'Poppins', sans-serif;
    font-size: 9pt;
  }
  .fs-nav{
    font-size: 10pt;
  }
  .sm-intro-bg{
    padding: 0em 1em 1em 1em;
  } 
  .shop-logo{
    width: 100%;
  } 
  .product-name{
    font-size: 10pt;
  }
  .auctioner{
    font-size: 9pt;
  }
  .bid-duration{
    font-size: 9pt;
  }
  .bid-status{
    font-size: 9pt;
  }
  .bid-price{
    font-size: 11pt;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .other-nav-fs{
    font-size: 10pt;
  }
  .item-search{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}