/*
Tasks:
-- create responsive breadcrumb with scroller
-- create responsive breadcrumb with the first and last item and a button that shows all options

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*
=====
DEPENDENCES
=====
*/

.r-list{
  --uirListPaddingLeft: var(--rListPaddingLeft, 0);
  --uirListMarginTop: var(--rListMarginTop, 0);
  --uirListMarginBottom: var(--rListMarginBottom, 0);
  --uirListListStyle: var(--rListListStyle, none);

  padding-left: var(--uirListPaddingLeft) !important;
  margin-top: var(--uirListMarginTop) !important;
  margin-bottom: var(--uirListMarginBottom) !important;
  list-style: var(--uirListListStyle) !important;
}

.r-link{
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

/*
=====
COMPONENT
=====
*/

.breadcrumb{
  --uiBreadcrumbDividerColor: var(--breadcrumbDividerColor, inherit);
  --uiBreadcrumbDividerSize: var(--breadcrumbDividerSize, 1rem);
  --uiBreadcrumbIndent:  var(--breadcrumbIndent, .75rem);
}

.breadcrumb__list{
  display: flex;
  flex-wrap: wrap;
  gap: var(--uiBreadcrumbIndent);
}

.breadcrumb__group{
  display: inline-flex;
  align-items: center;
}

.breadcrumb__divider{
  margin-left: var(--uiBreadcrumbIndent);
  font-size: var(--uiBreadcrumbDividerSize);
}

/*
=====
SKIN
=====
*/

.breadcrumb{
  --uiBreadcrumbTextColor: var(--breadcrumbTextColor);
  --uiBreadcrumbTextColorActive: var(--breadcrumbTextColorActive);
  
  --breadcrumbDividerColor: var(--uiBreadcrumbTextColor);
  --rLinkTextColor: var(--uiBreadcrumbTextColor);
}

.breadcrumb__divider{
  color: var(--uiBreadcrumbDividerColor);
}

span.breadcrumb__point{
  color: var(--uiBreadcrumbTextColorActive);
}

/*
=====
SETTINGS
=====
*/

:root{
  --breadcrumbTextColor: #4d4d4d;  
  --breadcrumbTextColorActive: rgb(36, 36, 36);  
}

.breadcrumb_type2{
  --breadcrumbDividerSize: 20px;
}

.breadcrumb_type3{
  --breadcrumbDividerSize: 18px;
}

.breadcrumb_type4{
  --breadcrumbDividerSize: 14px;
}

.breadcrumb_type5{
  --breadcrumbDividerSize: 20px;
}

.breadcrumb_type6{
  --breadcrumbDividerSize: 14px;
}

/*
=====
DEMO
=====
*/


.page{
  box-sizing: border-box;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;    
}

.page__section:nth-of-type(n+2){
   margin-top: 2.5rem;
}

.side-nav-bg{
  background-image: url("../img/sidenav-bg.png");
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.bg-home{
  background-image: url('../img/bg-home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.company-intro{
  text-align: justify;
}

.shop-details-bg{
  background-color: rgba(248, 249, 250, 0.85);
}

.slide-downward{
  animation: 1s ease-out 0s 1 slideDownward;
}

.slide-inward{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide-upward{
  animation: 1s ease-out 0s 1 slideUpdward;
}

.slide-outward{
  animation: 1s ease-out 0s 1 slideOutToLeft;
}

.fs-header{
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
}

.fs-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
}

.product-title{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.vl {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.shop-logo{
  width: 200px;
}

.product-name{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 11pt;
}

.auctioner{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  text-decoration: none;
  color: #212529;
}

.auctioner:hover{
  text-decoration: none;
  color: #0d6efd;
}

.bid-duration{
  font-family: 'Poppins', sans-serif;
}

.bid-status{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.bid-price{
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
}

.remove-list-style-type{
  list-style-type: none;
  padding-left: 5px;
}

.product-img{
  height: 150px;
}

.p-to-br{
  right: 0;
  bottom: 0;
}

.p-to-bl{
  left: 0;
  bottom: 0;
}

.p-to-tl{
  left: 0;
  top: 0;
}

.p-to-tr{
  right: 0;
  top: 0;
}

.other-nav-fs{
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.fs-sidenav{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

/* shop logo size */
.shop-logo-auction-size{
  width: 300px;
  height: 150px;
  object-fit: contain;
}
/***************************/
  @keyframes slideDownward {
    0% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slideUpdward {
    0% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes zoomOut {
    0% {
      transform: scale(1.5,1.5);
    }
    100% {
      transform: scale(1,1);
    }
  }

@media screen and (max-width: 1920px) and (min-width: 1401px) {
  
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  
}

@media screen and (max-width: 1200px) and (min-width: 993px){

}

@media screen and  (max-width: 992px) and (min-width: 769px){
  .company-intro{
    font-size: 12pt;
  }
  .sm-intro-bg{
    padding: 0em 3em 3em 3em;
  }
  .product-name{
    font-size: 11pt;
  }
  .auctioner{
    font-size: 10pt;
  }
  .bid-status{
    font-size: 10pt;
  }
  .bid-price{
    font-size: 11pt;
  }
}

@media screen and  (max-width: 768px) and (min-width: 577px){
  .company-intro{
    font-size: 11pt;
  }
  .sm-intro-bg{
    padding: 0em 2em 2em 2em;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .bid-price{
    font-size: 10pt;
  }
}

@media screen and (max-width: 576px){
  .shop-detail{
    font-size: 8pt;
  }
  .fs-header{
    font-size: 10pt;
  }
  .fs-nav{
    font-size: 10pt;
  }
  .sm-intro-bg{
    padding: 0em 1em 1em 1em;
  } 
  .shop-logo{
    width: 110px;
  } 
  .product-name{
    font-size: 10pt;
  }
  .auctioner{
    font-size: 9pt;
  }
  .bid-duration{
    font-size: 9pt;
  }
  .bid-status{
    font-size: 9pt;
  }
  .bid-price{
    font-size: 11pt;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .other-nav-fs{
    font-size: 10pt;
  }
  .shop-logo-auction-size{
    width: 150px;
    height: 75px;
    object-fit: contain;
  }
}

.remove-list-style-type{
  list-style-type: none;
  padding-left: 20px;
}

.img-resize
{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#badges
{
  font-size: 15pt;
}

.position-badge-topleft{
  top: 1rem;
  left: 2rem;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 56px;
  left: 0pc;
  z-index: 1000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}

/* Page content */
.content {
  padding: 30px;
}

/* Search Bar */
input[type="search"] {
  border: 1px solid gray;
  padding: .2em .4em;
  border-radius: .2em;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

/* styles for the top nav and side nav */
/****************************************/

.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#layoutSidenav {
  display: flex;
}
#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}
#layoutSidenav #layoutSidenav_content #top-navbar{
  flex-basis: 225px;
  flex-shrink: 0px;
  transition: transform 0.3s ease-in-out;
  z-index: 1039;
  transform: translateX(0px);
}
#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 0px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav{
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content #top-navbar{
  transition: margin 0.3s ease-in-out;
  margin-left: -225px;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.3s ease-in-out;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav{
    transform: translateX(-225px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content #top-navbar{
    transition: margin 0.3s ease-in-out;
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content{
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
  #layoutSidenav #layoutSidenav_content #top-navbar{
    transition: transform 0.3s ease-in-out;
    transform: translateX(225px);
  }
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}
.sb-topnav {
  left: 0;
  height: 56px;
  z-index: 1039;
}
.sb-topnav .navbar-brand {
  width: 225px;
  margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}
.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}
.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}
.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}
.sb-sidenav-light {
  background-color: #f8f9fa;
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}