/* 
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.company-intro{
  text-align: justify;
}

.shop-details-bg{
  background-color: rgba(248, 249, 250, 0.85);
}

.vl {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.shop-logo{
  width: 300px;
}

.product-img{
  height: 150px;
}

.p-to-br{
  right: 0;
  bottom: 0;
}

.p-to-bl{
  left: 0;
  bottom: 0;
}

.p-to-tl{
  left: 0;
  top: 0;
}

.p-to-tr{
  right: 0;
  top: 0;
}
.remove-list-style-type{
  list-style-type: none;
  padding-left: 20px;
}

.img-resize
{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#badges
{
  font-size: 15pt;
}

.position-badge-topleft{
  top: 1rem;
  left: 2rem;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 56px;
  left: 0pc;
  z-index: 1000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}

/* Page content */
.content {
  padding: 30px;
}

.item-search{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.search-input-group{
  border-radius: 0.5rem;
}

/* shop logo size */
.shop-logo-auction-size{
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.shop-info-bg{
  border-radius: 1rem;
  color: #673ab7;
}

.chat-btn{
  background-color: #d1b4ff;
  border-radius: 0.5rem;
  color: #673ab7;
}

.chat-btn:hover{
  background-color: #673ab7;
  border-radius: 0.5rem;
  color: #ffffff;
}

.view-profile-btn{
  background-color: #d1b4ff;
  border-radius: 0.5rem;
  color: #673ab7;
}

.view-profile-btn:hover{
  background-color: #673ab7;
  border-radius: 0.5rem;
  color: #ffffff;
}

.obverse-img{
  width: 100%;
  object-fit: contain;
}

.reverse-img{
  width: 100%;
  object-fit: contain;
}