
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*********************************************/
/********Standard fonts used by all pages*****/

.fs-search{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-breadcrumb{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-sidenav{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.fs-shop-name{
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.fs-shop-description{
  font-family: 'Poppins', sans-serif;
  font-size: 9pt;
}

.fs-footer{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.fs-topnav{
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
}

.fs-header{
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
}

.fs-nav{
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
}

.fs-alert{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-btn{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-bid-time{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-bid-status{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-bid-status-other-info{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.fs-minute {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.bid-duration{
  font-family: 'Poppins', sans-serif;
}

.bid-status{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
}

.bid-price{
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
}

.product-title{
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
}

.product-name{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 11pt;
}


.auctioner{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  text-decoration: none;
  color: #212529;
}

.auctioner:hover{
  text-decoration: none;
  color: #0d6efd;
}
