@import url(home.css);
@import url(bid_status.css);
@import url(live_auction.css);
@import url(auction_house.css);
@import url(custom.css);
@import url(fonts.css);
@import url(layout.css);

/***********   pagination override class  **********/
/*********** Large Viewport ***********/
@media screen and (min-width: 993px){
  .product-img{
    height: 175px;
  }
  
}

/*********** Medium Viewport ***********/
@media screen and  (max-width: 992px) and (min-width: 769px){
  .company-intro{
    font-size: 12pt;
  }
  .sm-intro-bg{
    padding: 0em 3em 3em 3em;
  }
  .product-name{
    font-size: 11pt;
  }
  .product-img{
    height: 170px;
  }
  .auctioner{
    font-size: 10pt;
  }
  .bid-status{
    font-size: 10pt;
  }
  .bid-price{
    font-size: 11pt;
  }
}

/*********** Medium Viewport ***********/
@media screen and  (max-width: 768px) and (min-width: 577px){
  .company-intro{
    font-size: 11pt;
  }
  .sm-intro-bg{
    padding: 0em 2em 2em 2em;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .bid-price{
    font-size: 10pt;
  }
  .fs-header{
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
  }
  .module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module p {
    text-align: left;
    margin: 0;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
  }
  #bidEndDateTime{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  #bidStatusItem{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-img{
    height: 170px;
  }
  .bid-status-data {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

/*********** Small Viewport ***********/
@media screen and (max-width: 576px){
  .shop-detail{
    font-size: 9pt;
  }

  /************ font sizes for all the pages ************/
  .fs-header{
    font-size: 10pt;
  }
  .fs-shop-name{
    font-size: 8pt;
  }
  .fs-breadcrumb{
    font-size: 9pt;
  }
  .fs-nav{
    font-size: 10pt;
  }
  .fs-alert{
    font-size: 9pt;
  }
  .fs-btn{
    font-size: 9pt;
  }
  .fs-bid-status{
    font-size: 9pt;
  }
  .fs-bid-status-other-info{
    font-size: 9pt;
  }
  .fs-bid-time{
    font-size: 9pt;
  }
  .fs-shop-description{
    font-size: 6pt;
  }
  .fs-minute {
    font-family: 'Poppins', sans-serif;
    font-size: 7pt;
  }

  /************ products.php ************/
  .sm-intro-bg{
    padding: 0em 1em 1em 1em;
  } 
  .shop-logo{
    width: 100%;
  } 
  .product-name{
    font-size: 10pt;
  }
  .auctioner{
    font-size: 9pt;
  }
  .bid-duration{
    font-size: 9pt;
  }
  .bid-status{
    font-size: 9pt;
  }
  .bid-price{
    font-size: 11pt;
  }
  #page-nav{
    order: 2;
  }
  #comp-auction-btn{
    order: 1;
  }
  .other-nav-fs{
    font-size: 10pt;
  }

  /************ auction_house.php ************/
  .module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module p {
    text-align: left;
    margin: 0;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
  }
  .item-search{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .shop-logo-auction-size{
    height: 90px;
  }

  /************ lot.php ************/
  #bidEndDateTime{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  #bidStatusItem{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .bid-status-data {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}